In [111]:
import pandas as pd
import os 
from tqdm import tqdm
from shutil import copyfile 
import shutil
import pandas as pd

In [2]:
df = pd.read_csv("../infinite_scroll/imgs.csv")

In [3]:
df.head()

,img_link,tags,likes,comments,img_id,img_path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55,A00001,Imgs/A00001.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20,A00002,Imgs/A00002.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,106,A00003,Imgs/A00003.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,11,A00004,Imgs/A00004.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15,A00005,Imgs/A00005.jpg

## removing unnecessary columns

In [5]:
del df["img_link"]
del df["img_id"]
del df["likes"]
del df["comments"]
df.head()

                                   tags         img_path
0     Clouds, Sky, Atmosphere, Blue Sky  Imgs/A00001.jpg
1        Bird, Ornithology, Hummingbird  Imgs/A00002.jpg
2   Sea, Rainbow, Rainfall, Subtropical  Imgs/A00003.jpg
3  Cherry Blossoms, Road, Japan, Sakura  Imgs/A00004.jpg
4        Cape Marguerite, Flower, Plant  Imgs/A00005.jpg

## removing tags of non sting type

In [7]:
t = []

for tags in df['tags']:
    if isinstance(tags, str):  # Only process if it's a string
        t += [tag.strip() for tag in tags.split(',')]

tags = list(set(t))

In [8]:
import html

clean_tags = []

for tag in tags:
    # Unescape HTML entities
    tag = html.unescape(tag)
    
    # Strip whitespace
    tag = tag.strip()

    # Remove overly long or sentence-like tags
    if len(tag.split()) <= 4 and len(tag) < 60:
        clean_tags.append(tag)

# Remove duplicates again just in case
clean_tags = list(set(clean_tags))
tags = clean_tags[1:]
print(len(tags))

7787

In [9]:
len(tags)

7787

## creating folder for each tag

In [11]:
for tag in tqdm(tags):
    dir_path = os.path.join("Dataset", tag)
    try:
        os.mkdir(dir_path)
    except: pass

100%|████████████████████████████████████████████████████████████████████████████| 7787/7787 [00:01<00:00, 4643.27it/s]

## saving images in specific folder

In [13]:
error  =0 
for data in tqdm(df.values):
    try:
        tags = data[0]
        tags = ["Dataset/" + tag.strip() + "/" for tag in tags.split(",")]
        img = data[1]
        source = "../infinite_scroll/" + data[1]
        source = os.path.abspath(os.path.join( os.getcwd() ,source))
    
        for tag in tags:
            try:
                destination = os.path.join(os.getcwd(), tag, os.path.basename(img))            
                os.makedirs(os.path.dirname(destination), exist_ok=True)
                        
                copyfile(source, destination)
                            

            except:
                error += 1
                pass
    except: 
        error +=1 
        pass
print("total error : ",error)

100%|█████████████████████████████████████████████████████████████████████████████| 9101/9101 [00:36<00:00, 252.05it/s]

total error :  55

## checking folder deatils

In [27]:
folders = os.listdir("Dataset/")
print(len(folders))

7969

## checking no of images in each folder

In [88]:
error_count = 0
folder_counts = {}
for f in tqdm(folders):
    try:
        folder = os.listdir("Dataset/"+f)
        folder_counts[f]= len(folder)
    except : 
        error_count +=1
        pass
print(error_count)

100%|███████████████████████████████████████████████████████████████████████████| 7969/7969 [00:00<00:00, 13564.47it/s]

3

##### sorting wtr to no of images in folder descending

In [75]:
folder_counts = dict(sorted(folder_counts.items(), key=lambda item: item[1], reverse=True))

##### converting to data frame

In [79]:
folder_counts_df = pd.DataFrame(list(folder_counts.items()), columns=['Folder', 'FileCount'])

In [90]:
folder_counts_df.isna().sum()

Folder       0
FileCount    0
dtype: int64

In [95]:
folder_counts_df["FileCount"].mean()

4.712528245041426

## top 10 folders having most images

In [92]:
folder_counts_df[:10]

      Folder  FileCount
0     Nature        840
1     Animal        609
2     Flower        549
3       Bird        519
4    Flowers        505
5        Sea        306
6      Plant        284
7     Sunset        275
8     Forest        261
9  landscape        242

## removing the folders with less than 20 images

In [99]:
folder_counts_df[folder_counts_df["FileCount"]<20]["Folder"]

282                                             Adventure
283                                                  Bear
284                                                  Buds
285                                              Close Up
286                                                Facade
                              ...
7961    Fantasmagòrica vista de los Reyes Magos de Ori...
7962                           In einem kleinen Städtchen
7963                                      It's a cool car
7964                                       it's your home
7965                            Rosa 'Princesse de Sagan'
Name: Folder, Length: 7684, dtype: object

In [115]:
error_count = 0
for fldr in tqdm(folder_counts_df[folder_counts_df["FileCount"]<20]["Folder"]):
    
    try:
        path = os.getcwd()
        path = os.path.join(path, "Dataset", fldr)
        shutil.rmtree(path)
    
    except: 
        error_count += 1
        pass
print(error_count)

100%|████████████████████████████████████████████████████████████████████████████| 7684/7684 [00:00<00:00, 9513.06it/s]

7684

In [117]:
folders = os.listdir("Dataset/")
print(len(folders))

285