In [2]:
import pandas as pd

In [52]:
df = pd.read_csv("AB_NYC_2019.csv")

In [50]:
df.dropna(inplace=True)

In [78]:
df["price"].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

# CATEGORICAL

In [54]:
df["neighbourhood_group"].value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [56]:
df["neighbourhood_group"].value_counts(normalize = True)

Manhattan        0.443011
Brooklyn         0.411167
Queens           0.115881
Bronx            0.022313
Staten Island    0.007629
Name: neighbourhood_group, dtype: float64

In [58]:
df["room_type"].value_counts()

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: room_type, dtype: int64

In [60]:
df["room_type"].value_counts(normalize=True)

Entire home/apt    0.519665
Private room       0.456611
Shared room        0.023724
Name: room_type, dtype: float64

In [63]:
df_n=df["neighbourhood"].value_counts().reset_index().rename(columns={"index":"neighbourhood", "neighbourhood":"number_of_hotels"})

In [65]:
df_n

          neighbourhood  number_of_hotels
0          Williamsburg              3920
1    Bedford-Stuyvesant              3714
2                Harlem              2658
3              Bushwick              2465
4       Upper West Side              1971
..                  ...               ...
216      Fort Wadsworth                 1
217        Richmondtown                 1
218            New Dorp                 1
219           Rossville                 1
220         Willowbrook                 1

[221 rows x 2 columns]

### Neighbourhood with more than 1000 hotels

In [67]:
df_n[df_n["number_of_hotels"]>1000]

         neighbourhood  number_of_hotels
0         Williamsburg              3920
1   Bedford-Stuyvesant              3714
2               Harlem              2658
3             Bushwick              2465
4      Upper West Side              1971
5       Hell's Kitchen              1958
6         East Village              1853
7      Upper East Side              1798
8        Crown Heights              1564
9              Midtown              1545
10         East Harlem              1117
11          Greenpoint              1115
12             Chelsea              1113

# NUMERICAL DATA

In [69]:
df["price"].value_counts(bins=5)

(-10.001, 2000.0]    48809
(2000.0, 4000.0]        54
(4000.0, 6000.0]        16
(6000.0, 8000.0]         9
(8000.0, 10000.0]        7
Name: price, dtype: int64

In [72]:
df["price"].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

In [80]:
bins=(0,50,100,200,500,1000,2000,10000)

In [82]:
df["price"].value_counts(bins=bins)

(50.0, 100.0]        17367
(100.0, 200.0]       16583
(200.0, 500.0]        7340
(-0.001, 50.0]        6561
(500.0, 1000.0]        805
(1000.0, 2000.0]       153
(2000.0, 10000.0]       86
Name: price, dtype: int64

In [84]:
df["price"].mean()

152.7206871868289

In [86]:
df["price"].std()

240.15416974718727

In [88]:
df["price"].skew()
#skewness of the data

19.118938995046033

In [90]:
df["price"].kurt()
#height of the data

585.6728788988286

In [91]:
df.corr()

C:\Users\amith\AppData\Local\Temp\ipykernel_2432\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
id,1.000000,0.588290,-0.003125,0.090908,0.010619,-0.013224,-0.319760,0.291828,0.133272,0.085468
host_id,0.588290,1.000000,0.020224,0.127055,0.015309,-0.017364,-0.140106,0.296417,0.154950,0.203492
latitude,-0.003125,0.020224,1.000000,0.084788,0.033939,0.024869,-0.015389,-0.010142,0.019517,-0.010983
longitude,0.090908,0.127055,0.084788,1.000000,-0.150019,-0.062747,0.059094,0.145948,-0.114713,0.082731
price,0.010619,0.015309,0.033939,-0.150019,1.000000,0.042799,-0.047954,-0.030608,0.057472,0.081829
minimum_nights,-0.013224,-0.017364,0.024869,-0.062747,0.042799,1.000000,-0.080116,-0.121702,0.127960,0.144303
number_of_reviews,-0.319760,-0.140106,-0.015389,0.059094,-0.047954,-0.080116,1.000000,0.549868,-0.072376,0.172028
reviews_per_month,0.291828,0.296417,-0.010142,0.145948,-0.030608,-0.121702,0.549868,1.000000,-0.009421,0.185791
calculated_host_listings_count,0.133272,0.154950,0.019517,-0.114713,0.057472,0.127960,-0.072376,-0.009421,1.000000,0.225701
availability_365,0.085468,0.203492,-0.010983,0.082731,0.081829,0.144303,0.172028,0.185791,0.225701,1.000000